header {
    padding: 156px 0 100px;
}

section {
    padding: 20px 0;
}

body {
    padding-top: 56px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.btn {
    margin-left: 5px;
}

.price {
    margin-left: 1rem;
}

.modal-footer {
    padding-top: 0rem;
}

.table-image thead td,
th {
    border: 0;
    color: #666;
    font-size: 0.8rem;
    vertical-align: middle;
    text-align: center;
}

.table-image .qty {
    max-width: 5rem;
}